@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --primary-color: #4f46e5;
  --secondary-color: #475569;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Plus Jakarta Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}

.container {
  width: 84%;
  margin: 0 auto;
}

/* header style start */

.headerBackgroundColor {
  background-color: var(--white);
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0px;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.headerParent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}

.headerMenu {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 16px;
}

.headerMenu li {
  text-decoration: none;
  list-style: none;
  color: var(--secondary-color);
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
}
.headerMenu li:hover {
  color: var(--primary-color);
  transition: 0.3s ease;
}

.homeNav {
  text-decoration: none;
}

.activeNav {
  color: var(--secondary-color);
  text-decoration: none;
  transition: 0.3s ease;
  font-weight: 600;
  cursor: pointer;
}
.activeNav:hover {
  color: var(--primary-color);
  transition: 0.3s ease;
}

.logInBtn {
  color: var(--white);
  background-color: var(--primary-color);
  padding: 13px 25px;
  border-radius: 25px;
  font-weight: 600;
  border: none;
  font-size: 16px;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.SignUpBtn {
  color: #475569;
  padding: 12px 25px;
  background: transparent;
  border-radius: 25px;
  font-weight: 600;
  border: 1px solid #cbd5e1;
  font-size: 16px;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.menu {
  display: none;
  position: relative;
}
.menuList {
  position: absolute;
  background-color: var(--white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  right: 2px;
  padding: 10px;
  display: none;
  transition: 0.3s ease;
}
.hamburgerMenuList li {
  font-size: 10px;
  text-decoration: none;
  list-style: none;
  color: var(--secondary-color);
  margin: 10px 0px;
  transition: 0.3s ease;
}

.hamburgerMenuList li:hover {
  color: var(--primary-color);
  transition: 0.3s ease;
}

.menuActive {
  display: block;
  animation: slideIn 0.3s ease;
}

.menuShowActive {
  transition: 0.3s ease;
  transform: rotate(90deg);
}

.hamburgerMenu {
  transition: 0.3s ease;
}

@keyframes slideIn {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(0);
  }
}
/* header style end */

/* banner style start */

.banner {
  background: #9a9cee;
  background: linear-gradient(
    358deg,
    rgba(154, 156, 238, 1) 0%,
    rgba(247, 252, 255, 1) 50%
  );
  height: 132vh;
  margin-top: 90px;
}

.systemBtn {
  color: #4f46e5;
  border-radius: 25px;
  background-color: #eef2ff;
  padding: 10px 20px;
  font-weight: 600;
  border: none;
  margin-top: 80px;
}

.UnleashParent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Unleash h2 {
  font-size: 60px;
  font-weight: 800;
  width: 800px;
  margin: 0 auto;
  line-height: 68px;
  margin-top: 20px;
}

.Unleash p {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 400;
  width: 800px;
  margin: 0 auto;
  line-height: 30px;
  padding: 25px 0px 40px 0px;
  margin: 0 auto;
}

.dashboard {
  position: absolute;
  left: 12%;
}
.dashboard img {
  padding-top: 30px;
}

.phoneDashboard {
  position: absolute;
  top: 19%;
  right: -10%;
}

/* banner style end */
.brandFirstSide {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.brandLastSide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 125px;
  margin-top: 30px;
}

.brandChild {
  padding: 40px 0px;
}
/* brand style start */

.brand {
  background-color: #f8fafc;
}

/* brand style end */

/* main style start */

/* main style end */

/* phone device responsibe code */

@media only screen and (max-width: 640px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
  /* header style start */
  .middle {
    display: none;
  }
  .rightSide {
    display: none;
  }
  .menu {
    display: block;
  }
  .hamburgerMenu {
    width: 25px;
    height: 25px;
  }
  /* header style end */

  /* banner style  start*/

  .systemBtn {
    margin-top: 60px;
  }
  .Unleash h2 {
    width: 400px;
    margin: 20px 0px 0px 0px;
    font-size: 36px;
    line-height: 44px;
  }

  .Unleash p {
    font-size: 16px;
    font-weight: 400;
    width: 345px;
    margin: 0 auto;
    line-height: 30px;
    padding: 25px 0px 40px 0px;
    margin: 0 auto;
  }
  .dashboard {
    position: absolute;
    top: 75%;
    left: -60px;
  }

  .dashboard img {
    padding-top: 30px;
    width: 490px;
    height: 600px;
  }
  .phoneDashboard {
    position: absolute;
    top: 37%;
    right: 1%;
  }
  .phoneDashboard img {
    width: 300px;
    height: 300px;
  }
  .banner {
    height: 115vh;
  }
  /* banner style  end */

  /* brand style start */
  .brandFirstSide {
    display: flex;
    flex-wrap: wrap;
  }
  .brandFirstSide img {
    width: 100px;
  }

  .brandLastSide {
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
    margin-top: 0px;
    margin-left: 15px;
  }
  .brandLastSide img {
    width: 95px;
  }

  /* brand style end */
}
